body {
	font-size: 15px;
}
p {
	font-family: 'Lora', serif;
	color:#888;
}

a {
	color:#333;
}
.navbar.is-white .navbar-brand > a.navbar-item:hover {
	background:transparent;
}
.navbar.is-white .navbar-start > a.navbar-item:hover,
.navbar.is-white .navbar-end > a.navbar-item:hover {
	color:red;
	background: transparent;
}
article img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
article img:hover {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}
// AMP
.fixed-container {
	position: relative;
	width: 100%;
	height: 500px;
}
.fixed-container-small {
	position: relative;
	width: 100%;
	height: 200px;
}
.fixed-container-user {
	position: relative;
	width: 90px;
	height: 90px;
}
amp-img.contain img {
	object-fit: fill;
}
amp-img.cover img {
	object-fit: cover;
}