header {
    border-bottom:solid 1px #eee;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.navbar {
    min-height: 5.25rem;
}
a.navbar-item.is-logo {
    position: absolute;
    left: 50%;
    height: 100%;
    margin-left: -90px; // 50% in my case
    display: flex;
    align-items: center;
}
.container {
    max-width: 1000px;
}
.hero {
    text-align:center;

    h2 {
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        color: #888;
        margin-bottom:40px;
        font-family: 'Lora', serif;
    }
}
.title {
    color: #000;
    font-weight: 700;
    position: relative;
    margin-top: 50px;
    text-align:center;

    &:before {
        display: block;
        content: '';
        position: absolute;
        width: 10%;
        left: 50%;
        margin-left: -5%;
        top: -25px;
        height: 2px;
        background:red;
    }
}
article {
    margin:40px 0 100px 0;
    border-bottom: solid 1px #eee;

    .columns {
        margin: 0;
        padding: 0;
    }

    p:first-child:first-letter {
        color: #000;
        font-weight: 600;
        float: left;
        font-size: 50px;
        line-height: 35px;
        padding-top: 10px;
        padding-right: 8px;
        padding-left: 3px;
    }

    p {
        line-height: 25px;
        margin-bottom: 30px;
    }

    .img {
        margin: 40px -100px;
    }

    .info {
        border:solid 1px #ddd;
        padding:20px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;

        hr {
            margin-top:20px;
            height: 1px;
            background-color: #eee;
            margin: 20px -20px 20px;
        }
        span {
            font-family: 'Lora', serif;
            display: block;
            font-size: 11px;
            font-style: italic;
        }

        img {
            border-radius:50%;
        }
    }

    .share {
        text-align:center;
        margin:50px 0;

        a {
            padding:0 20px;
        }
    }
}

.related {
    font-size: 14px;
    margin-top:50px;

    p {
        font-family: 'Lora', serif;
        margin-bottom:20px;
    }
    h3 {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 15px;
    }
    .column {
        padding:0 20px 10px;
    }
}

footer {
    text-align:center;
    border-top:solid 1px #eee;
    font-size: 12px;
    padding:10px 0;
    margin-top:50px;
}

// Sidebar for AMP
.hamburger {
    width: 100%;
    float: right;
}
#sidebar {
    .close-sidebar {
        padding: 10px 20px;
        float: right;
        cursor: pointer;
    }
    .sidebar {
        padding-left: 0;
        margin-top: 45px;
        li a {
            padding: 10px 40px
        }
        li a:hover {
            color:red
        }
    }
}

// HOMEPAGE
.first-homepage {
    margin-bottom:100px;
    .first-column {
        padding-top: 30px;
    }
    article {
        border-bottom:none;
    }
    h2 {
        width: 500px;
        position: absolute;
        font-size: 40px;
        font-weight: 700;
        z-index: 1;
    }
    p {
        margin-top:180px;
        position: relative;
        border-top: solid 2px red;
        padding-top: 30px;
        color: #000;
    }
    span {
        position: absolute;
        top: 90px;
        left: -80px;
        transform: rotate(-90deg);
        color: #888;
        margin-top: -15px;
        letter-spacing: 2px;
    }
    .img-cover {
        position: relative;
    }
    .img-cover::after {
        position: absolute;
        content: "";
        -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.08);
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        top: 50px;
        right: -10px;
        z-index: -1;
    }
}
.homepage h3, .first-homepage h3 {
    font-family: 'Lora', serif;
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.read-more {
    color:red;
    margin-top:-15px;
    float:left;
    font-family: 'Lora', serif;
}
.homepage {
    max-width: 700px;
    article {
        border-bottom:none;

        span {
            color:#858585;
            margin-top:-15px;
            float: right;
            font-family: 'Lora', serif;
        }
    }
    .hero {
        border-bottom:solid 1px #eee;
    }
    .img-cover {
        overflow: hidden;
    }
    h2 {
        font-weight: 700;
        font-size:20px;
        color:red;
        font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    p {
        text-align: left;
        color:#000;
    }
    .older-post {
        font-family: 'Lora', serif;
        text-align: right;
        display:block;
        color:red;
        font-weight: 600;
    }
}